*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    max-width: 100%;
    height: 600px;
    background-image:linear-gradient(0deg, rgba(34, 32, 32, 0.8), rgba(34, 32, 32, 0.7)), url("Image/Content.jpeg");
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 justify-content: center;
 align-items: center;
 text-align: center;
 position: relative;
 padding: 25px 40px;
 color: #fff;
}

.open-icon{
    color: white;
  }

form {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 90px;
}

.form-group {
    flex-basis: 48%; 
    margin-bottom: 20px;
}



label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.group{
    text-align: center;
    flex-basis: 100%;
}

input[type="text"], input[type="email"]   {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 14px;
    box-sizing: border-box;
    background: #F6F0FD;
    outline: none;
} 
  input[type="submit"] {
    width: 15%;
    margin: 30px;
    color: black;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 14px;
    background: #FFD540;
    transition: background-color .5s ease;
}  
input[type="submit"]:hover {
    background-color: #fff;
}


span{
    font-size: 12px;
    color: black;
}




@media screen and (max-width: 850px) {


    form {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }

    

    input[type="text"], input[type="email"]   {
        width: 100%;
        margin: 0 auto;
    } 


    input[type="submit"] {
        width: 100%;
        margin: 0 auto;
    }  

    .group{
        max-width: 100%;
    }
}

